<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img class="img-responsive" src="assets/ideefixLogo2White.png" style="height: 36px;    margin-top: -8px;"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" ><a  routerLink="/dashboard" >Dashboard</a></li>
        <li  routerLinkActive="active" ><a  routerLink="/create" >Erstellen</a></li>
        <li class="dropdown" dropdown> <!-- {1} -->
          <a dropdownToggle role="button"> <!-- {2} -->
            Dropdown <span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
