<div class="bg">
  <div class="container">

    <div class="row">

      <div class="signin" style="margin-top: 80px;">
        <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3" >
          <div class="card" style="padding-bottom: 80px">
            <img src="assets/ideefix.png" alt="logo" class="img-responsive center-block" style="height: 128px;" />
            <hr>
            <input type="text" class="form-control " placeholder="Stammnummer" aria-describedby="basic-addon1"
                   style="width: 100%">
            <input type="password" class="form-control btn-block" placeholder="Passwort" aria-describedby="basic-addon1"
                   style="margin-top: 10px;width: 100%">
            <a class="btn btn-primary pull-right" routerLink="/dashboard" style="margin-top: 15px"> Anmelden
            </a>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
