<div class="container">

  <div class="card" style="margin-top: 60px; padding-bottom: 60px">
    <h3>Idee Erstellen</h3>
    <hr>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Titel</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Bitte geben Sie die Idee in wieder..</small>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Beschreibung</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" ></textarea>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="sel1">Bereich auswählen:</label>
            <select class="form-control" id="sel1">
              <option>Walzwerk</option>
              <option>Stahlwerk</option>
              <option>Zentralkokerei</option>
              <option>Hochofen</option>
              <option>Hütte</option>
              <option>IT</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="ver">Verantwortlichen wählen:</label>
            <input type="email" class="form-control" id="ver" aria-describedby="emailHelp">
          </div>
        </div>
      </div>

      <div class="pull-right">
        <button type="submit" class="btn btn-primary ">Idee einreichen</button>
      </div>
    </form>

  </div>

</div>
