<div class="container">

  <div class="card" style="margin-top: 60px; ">
    <div class="row">


      <div class="col-xs-12  col-md-12">
        <h3>Die wundertolle Idee <span class="pull-right">Status: <span class="glyphicon glyphicon-certificate" style="color: #3c763d" aria-hidden="true"></span> </span></h3>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
          sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        </p>
        <p>
          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
          pede
          justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis
          vitae,
          justo.
        </p>

        <p>
          Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
          Aenean
          vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
        </p>

        <p>
          Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius
          laoreet.
          Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam
          eget
          dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet
          adipiscing
          sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,</p>
      </div>

      <!--
      <div class="col-xs-5 col-md-6 text-center">
        <div class="col-xs-3 col-md-3 text-right">
          <span class="glyphicon glyphicon-star"></span>5
        </div>
        <div class="col-xs-8 col-md-9">
          <div class="progress">
            <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="80"
                 aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
              <span class="sr-only">15%</span>
            </div>
          </div>
        </div>

        <div class="col-xs-5 col-md-3 text-right">
          <span class="glyphicon glyphicon-star"></span>4
        </div>
        <div class="col-xs-8 col-md-9">
          <div class="progress">
            <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="80"
                 aria-valuemin="0" aria-valuemax="100" style="width: 30%">
              <span class="sr-only">15%</span>
            </div>
          </div>
        </div>


        <div class="col-xs-3 col-md-3 text-right">
          <span class="glyphicon glyphicon-star"></span>3
        </div>
        <div class="col-xs-8 col-md-9">
          <div class="progress">
            <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="80"
                 aria-valuemin="0" aria-valuemax="100" style="width: 10%">
              <span class="sr-only">15%</span>
            </div>
          </div>
        </div>


        <div class="col-xs-3 col-md-3 text-right">
          <span class="glyphicon glyphicon-star"></span>2
        </div>
        <div class="col-xs-8 col-md-9">
          <div class="progress">
            <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="80"
                 aria-valuemin="0" aria-valuemax="100" style="width: 5%">
              <span class="sr-only">15%</span>
            </div>
          </div>
        </div>

        <div class="col-xs-3 col-md-3 text-right">
          <span class="glyphicon glyphicon-star"></span>1
        </div>
        <div class="col-xs-8 col-md-9">
          <div class="progress">
            <div class="progress-bar progress-bar" role="progressbar" aria-valuenow="80"
                 aria-valuemin="0" aria-valuemax="100" style="width: 10%">
              <span class="sr-only">15%</span>
            </div>
          </div>
        </div>
      </div>
-->

      <div class="col-xs-12 col-md-12 text-center ">
        <hr>
      </div>


      <div class="col-xs-12 col-md-6 text-center ">

        <h1 class="rating-num">
          4.0</h1>
        <div class="rating">
          <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                            </span><span class="glyphicon glyphicon-star-empty"></span>
        </div>
        <div>
          <span class="glyphicon glyphicon-user"></span> 800 Bewertungen
        </div>



      </div>



      <div class="col-xs-12 col-md-6 text-center">

        <h3>Hans Peter</h3>

        <span><i class="fa fa-envelope" aria-hidden="true"></i> hans.peter@dillinger.biz</span>
        <br>
        <span><i class="fa fa-phone" aria-hidden="true"></i>+49 2034 343 234</span>
        <br>
        <span><i class="fa fa-phone" aria-hidden="true"></i>Gutachter</span>

      </div>


      <div class="col-xs-12 col-md-12 text-center ">
        <hr>
      </div>


    </div>
    <app-chat></app-chat>
  </div>
</div>
