
h3 {
  font-family: Impact, "Arial Black", sans-serif;
}

.section-box h2 {
  margin-top: 0px;
}

.section-box h2 a {
  font-size: 15px;
}

.glyphicon-heart {
  color: #e74c3c;
}

.glyphicon-comment {
  color: #27ae60;
}

.separator {
  padding-right: 5 px;
  padding-left: 5 px;
}

.section-box hr {
  margin-top: 0;
  margin-bottom: 5 px;
  border: 0;
  border-top: 1 px solid rgb(199, 199, 199);
}