<div class="container">

  <div class="jumbotron" style="margin-top: 60px">
    <h1>Theme example</h1>
    <p>This is a template showcasing the optional theme stylesheet included in Bootstrap. Use it as a starting point to
      create something more unique by building on or modifying it.</p>
    <hr>
    <ul>
      <li class="text" *ngFor="let idea of ideas | async">
        {{idea.title}}
        {{idea.description}}
     <a  routerLink="/product/{{idea.id}}" >Product</a>

      </li>
    </ul>

  </div>

</div>
