<div class="container">

  <div class="card" style="padding-bottom: 30px; padding-left: 10%;padding-right: 10%">

    <div class="row " id="myUL">
      <div class="col-md-8 ">
        <h1>IDEEN Übersicht </h1>
        <hr>
        <div class="section-box">
          <h4>
            Benennen eines Co-Anlagenverantworlichen in DHSafe
            <span class="badge pull-right">Walzwerk</span>
          </h4>
          <p style="text-align: justify;">
            Ein Anlagenverantwortlicher hat ein hohes Verantwortungsbewusstsein.
            Im Freischaltprozess spielt er eine tragende und entscheidenen Rolle.
            Seine Hauptaufgabe ist es für die Sicherheit seiner Kollegen bei deren Arbeiten zusorgen.
            Bei hohem Andrang an seinem Arbeitsplatz ist somit einem imensen Druck ausgesetzt.
            Ein Co-Anlagenverantworlicher könnte den Anlagenverantwortlichen bei seiner Arbeit unterstützen
            und ihm den Druck nehmen. Dadurch würde die Sicherheit der Kollegen weiter gewährleistet werden können.
          </p>
          <hr/>
          <div class="row rating-desc">
            <div class="col-md-12">
              <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star">
                                </span><span class="glyphicon glyphicon-star"></span><span
              class="glyphicon glyphicon-star">
                                </span><span class="glyphicon glyphicon-star"></span> (36 Bewertungen)<span
              class="separator"> | </span>
              <span class="glyphicon glyphicon-comment"></span> (3 Kommentare) |
              <span class="glyphicon glyphicon-user"></span> (von: Marc Koster) |
              <span class="glyphicon glyphicon-arrow-right"></span> <a routerLink="/detail"> mehr..</a>
            </div>
          </div>
          <hr style="border: 1px solid #101010; margin: 15px">

        </div>


        <div class="section-box">
          <h4>
            Abschaltgruppen für Abschaltelemente
            <span class="badge pull-right">Stahlwerk</span>
          </h4>
          <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus
            est
          </p>
          <hr/>
          <div class="row rating-desc">
            <div class="col-md-12">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              (12 Bewertungen)<span
              class="separator"> | </span>
              <span class="glyphicon glyphicon-comment"></span> (2 Kommentare)
              <span
                class="separator">
            | </span>
              <span class="glyphicon glyphicon-arrow-right"></span> <a routerLink="/detail"> mehr..</a>
            </div>

          </div>
          <hr style="border: 1px solid #101010; margin: 15px">

        </div>


        <div class="section-box">
          <h4>
            Einheitliches Reporting-Tool für alle Produktionsbetriebe
            <span class="badge pull-right">Stahlwerk</span>
          </h4>
          <p style="text-align: justify;">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
            clita kasd gubergren, no sea takimata sanctus
            est
          </p>
          <hr/>
          <div class="row rating-desc">
            <div class="col-md-12">
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              (34 Bewertungen)<span
              class="separator">
            | </span>
              <span class="glyphicon glyphicon-comment"></span> (1 Kommentare)
              <span
                class="separator">
            | </span>
              <span class="glyphicon glyphicon-arrow-right"></span> <a routerLink="/detail"> mehr..</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <input type="suche" class="form-control" id="myInput" aria-describedby="emailHelp"
               placeholder="nach Ideen suchen ..." onkeyup="myFunction()">
        <label for="sel1">Bereich auswählen :</label>
        <select class="form-control" id="myInput1" onchange="myFunction1()">
          <option>Hütteweit</option>
          <option>Walzwerk</option>
          <option>Stahlwerk</option>
          <option>Zentralkokerei</option>
          <option>Hochofen</option>
          <option>Informatik</option>
        </select>
        <div class="checkbox">
          <label><input type="checkbox" value="">Nur meine Ideen</label>
        </div>
      </div>

    </div>
  </div>

</div>


