<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <ul class="chat">
          <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/tonypeterson/128.jpg" alt="User Avatar" class="img-rounded app-thumbnail"/>
                        </span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">Max Mustermann</strong>
                <small class="pull-right text-muted">
                  <span class="glyphicon glyphicon-time"></span>8 Minuten zuvor
                </small>
              </div>
              <p>
                Ist ja mal eine super Idee. Lass uns dass mal im Detail besprechen ! :)
              </p>
            </div>
          </li>
          <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" alt="User Avatar" class="img-rounded app-thumbnail"/>
                        </span>
            <div class="chat-body clearfix">
                <div class="header">
                    <strong class="primary-font">Ideen Alex</strong>
                    <small class="pull-right text-muted">
                      <span class="glyphicon glyphicon-time"></span>5 Minuten zuvor
                    </small>
                  </div>
              <p>
                Okay. Ich bringe noch Anton den Anlagenverantwortlichen mit. 
                Der kennt das Problem und kann uns bei der Lösungsfindung helfen. 
              </p>
            </div>
          </li>
          <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/peterme/128.jpg" alt="User Avatar" class="img-rounded app-thumbnail"/>
                        </span>
            <div class="chat-body clearfix">
              <div class="header">
                <strong class="primary-font">Anton Anlagenverantwortlicher</strong>
                <small class="pull-right text-muted">
                  <span class="glyphicon glyphicon-time"></span>2 Minuten zuvor
                </small>
              </div>
              <p>
                Ja ich bin dabei ! Die Idee würde mir das Arbeitsleben sehr erleichtern ! :)
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <input id="btn-input" type="text" class="form-control input-sm" placeholder="Nachricht eingeben....."/>
          <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" id="btn-chat">
                                Send</button>
                        </span>
        </div>
      </div>
    </div>
  </div>
</div>
